body {
    background-image: url("../img/main-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

/******************************/
/*         Home Page          */
/******************************/
#home-main {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

#home-intro {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: lightblue;
    border: 2px dashed yellow;
    border-radius: 50px;
}

#main-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid white;
    border-radius: 50%;
    margin-top: -100px;
}

#home-main h2 {
    color: white;
    text-align: center;
    font-family: 'Acme', sans-serif;
    font-size: 50px;
}

#home-main p {
    background-color: silver;
    border: 2px solid red;
    border-radius: 50px;
    margin: 20px;
    padding: 20px;
    width: 700px;
    height: 150px;
}

/******************************/
/*       Home Page End        */
/******************************/

/******************************/
/*         Navigation         */
/******************************/
nav {
    background-color: black;
    overflow: hidden;
}

ul {
    padding: 0;
    margin: 0 auto;
    list-style-type: none;
    align-content: center;
}

li a {
    text-decoration: none;
    float: right;
    color: white;
    text-align: center;
    padding: 12px 14px;
    font-family: 'Times New Roman', Times, serif;
}

.name {
    float: left;
}

.home {
    font-family: 'Acme', sans-serif;
}

li a:hover {
    background-color: lightgreen;
    color: black;
}


/******************************/
/*       Navigation End       */
/******************************/