body {
    background-image: url("../img/main-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;

}

/******************************/
/*         Navigation         */
/******************************/
nav {
    background-color: black;
    overflow: hidden;
}

nav ul {
    padding: 0;
    margin: 0 auto;
    list-style-type: none;
    align-content: center;
}

nav a {
    text-decoration: none;
    float: right;
    color: white;
    text-align: center;
    padding: 12px 14px;
    font-family: 'Times New Roman', Times, serif;
}

nav .name {
    float: left;
}

nav .home {
    font-family: 'Acme', sans-serif;
}

nav li a:hover {
    background-color: lightgreen;
    color: black;
}


/******************************/
/*       Navigation End       */
/******************************/