main {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

#title {
    align-self: center;
}

section {
    align-self: center;
    width: 1000px;
    height: auto;
    background-color: blanchedalmond;
    color: black;
}


/* Table of contents styling */
#table-contents {
    text-align: left;
    border: 2px solid black;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 25px;
    margin-bottom: 125px;
}

#table-contents h2 {
    text-decoration: underline;
    font-style: bold;
}

#table-contents ol {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: x-large;
    margin-top: 20px;
    border: 1px solid black;
}

#column {
    display: flex;
    flex-direction: column;
    width: 500px;
}

#column li {
    margin-top: 10px;
    margin-bottom: 10px;
}

#table-contents a {
    text-decoration: none;
    color: black;
}

#table-contents a:hover {
    text-decoration: underline;
    color: blue;
}

/* knowledge items styling */
span {
    height: 25px;
}

article img {
    float: left;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}

article {
    align-self: center;
    height: 650px;
    width: 1150px;
    margin-top: 25px;
    margin-bottom: 50px;
    border-radius: 100px;
    color: black;
    background-color: #F0E2A3;
}

h2 {
    text-align: center;
    text-decoration: underline;
}

article h2 {
    margin-right: 100px;
}

#courses {
    align-self: center;
    margin-top: 25px;
}

#coursesComp {
    margin: 0;
    padding: 5px;
    width: 1150px;
}

table {
    width: 100%;
    max-width: 1100px;
    border-collapse: collapse;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;

}

th {
    height: 50px;
}

table,
th,
td {
    border: 1px solid black;
}

td li {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    list-style-type: none;
}

td p {
    margin-left: 10px;
    margin-right: 10px;
}

#extensive {
    width: 75%;
    color: green;
    background-color: green;
}

#minimaul {
    width: 25%;
    color: orange;
    background-color: orange;
}

h4 {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* css for scroll button */
#toTop {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 25px;
    color: black;
    background-color: orange;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}